.tile{
    min-height: 20vh;
    color: #282c34;
    background-color: #61dbfb;
    flex: 1 1 30%;
    margin:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.tile-hover{
    min-height: 20vh;
    color: #282c34;
    background-color: #00FF00;
    flex: 1 1 30%;
    margin:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.tile-hover-edit{
    background-color: yellow;
}

.tile-hover-delete{
    background-color: red;
}

.tile-hover-approve{
    background-color: #00FF00;
}

.fas{
    cursor: pointer;
}


.tile-edit-mode__textarea{
    background-color: yellow;
    width: calc(100% - 10px);
    border: 0px;
    min-height: calc(20vh - 40px);
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}